<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts/layout :: head"></head>
<body>
	<header th:replace="layouts/layout :: header"></header>
	<br>
	<br>
	<br>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 sec:authorize="hasRole('ROLE_ADMIN')" class="card-title">
					<a class="btn btn-primary btn-xs" th:href="@{/client/form}">Crear
						cliente</a>
				</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th sec:authorize="hasRole('ROLE_USER')">id</th>
							<th th:text="#{text.client.name}">nombre</th>
							<th th:text="#{text.client.lastName}">apellido</th>
							<th th:text="#{text.client.email}">correo</th>
							<th th:text="#{text.client.date}">fecha</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')"></th>
							<th sec:authorize="hasRole('ROLE_ADMIN')"></th>
							<th sec:authorize="hasRole('ROLE_ADMIN')"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente: ${clientes}">
							<td sec:authorize="hasRole('ROLE_USER')"><a class="btn btn-primary btn-xs" th:href="@{/client/ver/} + ${cliente.id}" th:text="${cliente.id}"></a></td>
							<td th:text="${cliente.nombre}"></td>
							<td th:text="${cliente.apellido}"></td>
							<td th:text="${cliente.email}"></td>
							<td th:text="${cliente.createAt}"></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-success btn-xs" th:href="@{/factura/form/} + ${cliente.id}" th:text="'Crear factura'"></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary btn-xs"
								th:href="@{/client/form/} + ${cliente.id}" th:text="'Editar'"></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								onclick="return confirm('¿Estás seguro que quieres eliminar el cliente?');"
								class="btn btn-danger btn-xs"
								th:href="@{/client/eliminar/} + ${cliente.id}"
								th:text="'Eliminar'"></a></td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="layouts/paginator-nav :: paginator"></nav>
			</div>
		</div>
	</div>
	<footer th:replace="layouts/layout :: footer"> </footer>
</body>
</html>